@page
@model AppEstoqueBrilhador.Pages.Provider.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p>CNPJ</p>
        </dt>
        <dd class="col-sm-10">
            <p>CNPJ</p>
        </dd>
        <dt class="col-sm-2">
            <p>Nome Fantasia</p>
        </dt>
        <dd class="col-sm-10">
            <p>Nome Fantasia</p>
        </dd>
        <dt class="col-sm-2">
            <p>Endereço</p>
        </dt>
        <dd class="col-sm-10">
            <p>Endereço</p>
        </dd>
        <dt class="col-sm-2">
            <p>Telefone</p>
        </dt>
        <dd class="col-sm-10">
            <p>Telefone</p>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProviderX.id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar para lista</a>
    </form>
</div>
