@page
@model IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<style>
    .text-center {
        margin: 200px auto!important;
        text-align: center;
    }
</style>
<div class="text-center" >
    <a href="/Index"><img src="~/log.png" width="500"></a> <br /><br />
    <h4>Veja o código fonte do projeto em <a href="https://github.com/lukasferreira/AppEstoqueBrilhador">Github Lukas Ferreira</a>.</h4>
</div>
