@page
@model IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<style>
    .
</style>
<div class="text-center">
    <a href="/Index"><img src="~/log.png" width="500px"></a>
    <h4>Veja o código fonte do projeto em <a href="https://github.com/lukasferreira/AppEstoqueBrilhador">Github Lukas Ferreira</a>.</h4>
</div>
