@page
@model IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Estoque Brilhador</h1>
    <p>Veja o código fonte do projeto em <a href="https://github.com/lukasferreira/AppEstoqueBrilhador">Github Lukas Ferreira</a>.</p>
</div>
