@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre o Projeto";
}
<h1>@ViewData["Title"]</h1>

<p>Software para controle de estoque empresarial. Desenvolvido em CSharp pela equipe Deregue. Este sistema busca suprir as necessidades de controle de entrada e saída de produtos de todos os tipos da forma mais simples possível.  </p>
<br />
<h2>Desenvolvedores</h2>

<p> Lukas Ferreira, Luiz Valesko, Luiz Soares</p>
