@page
@model AppEstoqueBrilhador.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Página Inicial - Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-page="Create">Inserir novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Nome</p>
            </th>
            <th>
                <p>Preço</p>
            </th>
            <th>
               <p>Quantidade</p>
            </th>
            <th>
                <p>Identificação do Fornecedor</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                <p>Nome</p>
            </td>
            <td>
                <p>Preço</p>
            </td>
            <td>
                <p>Quantidade</p>
            </td>
            <td>
                <p>Identificação do Fornecedor</p>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
